= image_tag("htfheader1.png", class:"img-responsive", :class => 'container')

/Need some different copy and a new layout
/Something like
/Image | text text text
/text text text | Image
/Image | text text text

h1 About Us

p Hand That Feeds is a political website whose aim is to provide information on American political representatives in a provoking, easy-to-understand manner. We are optimistic pessimists who see money as the real influencer on Capitol Hill. We're American citizens who are advocates of integrity, accountability, and transparency in politics. We believe our nation's representatives should be beholden to their constituents, not corporations.

p We are students, writers, veterans, and activists interested in transparency in politics. We are optimistic dissidents who see a vital need for change in the American political status quo.
