<h1>About Us</h1>
<p>We are students, writers, veterans, and activists interested in transparency in politics. We are optimistic dissidents who see a vital need for change in the American political status quo.</p>
