<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Who is influencing your representatives?</h1>
    <p>Hand That Feeds is a political website whose aim is to provide information on American political representatives in a provoking, easy-to-understand manner. We are optimistic pessimists who see money as the real influencer on Capitol Hill. We're American citizens who are advocates of integrity, accountability, and transparency in politics. We believe our nation's representatives should be beholden to their constituents, not corporations.  </p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Transparency</h2>
      <p>We have elected a government that has admitted to collecting and archiving vast amounts of our personal information. We can at least partly return the favor by displaying financial contributions to representatives' campaigns. It's not the whole picture, but it's an important part of it.   </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Accountability</h2>
      <p>In modern American politics it is not uncommon for a government representatives to say something one week, only to directly contradict themselves the next. We've heard it so many times we're no longer surprised. To counter this collective political amnesia, we'll show you what they said, when, and if they followed through on their words. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Activism</h2>
      <p>For the vast majority of Americans, politics are far-removed from the realm of every day experience. With backsliding and doublespeak common features of modern politics, its easy to become disaffected by the political status quo. Our goal is to remedy this apathy by providing relevant, easily digestable information regarding the members of our country's government. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
