<!-- <!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Hand That Feeds</title>
  <meta name="keywords" content="Politics, Campaign Money, Accountability">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <meta property="og:title" content="Hand That Feeds">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.handthatfeeds.com">
  <meta property="og:site_name" content="Hand That Feeds">
  <meta property="og:description" content="Politics Stuff">

</head>  -->   
    <!--Header Section-->
    <section id="header">
      <%= image_tag("htfheader1.png", class:"img-responsive", :class => 'container') %>
      <div class="container" style="width: 100%;">
        <div class="row">
          <div class="col-md-12">
           
            <!--BxSlider-->
              <div class="container">
                <!-- <li> -->
                  
                  <div class="row text-center">
                    <div class="col-sm-10 col-sm-offset-1">
                      <h1>Who is influencing your representatives?</h1>
                        <div class="search">
                          <h3><%= form_tag("/your_legislators", :method => "get") do %>
                            <%= label_tag(:search, "See your legislators:") %>
                            <br>
                            <%= text_field_tag(:search, "Zip Code", :onclick => 'if($(this).val()=="Zip Code"){$(this).val("");};') %>
                            <small><button type="submit" class="btn-main"><i class="glyphicon glyphicon-search"></i></button></small>
                          <% end %></h3>
                        </div> 
                    
                    <!-- <a class="btn-main" href="about.html">Learn More</a> -->
                    </div>
                  </div>
                <!-- </li> -->

              </ul>
          
          </div><!--End Span12-->
        </div>
      </div>
    </section>

    
    <!--Home Content-->
    <section id="home-content">
      <div class="container">
        <div class="row">
          
          <!--Section 1-->
          <a href="#">
            <div class="col-sm-4 text-center home-box">
              <i class="fa fa-eye fa-5x"></i>
              <h3>Transparency</h3>
              <p> We have elected a government that has admitted to collecting and archiving vast amounts of our personal information. We can at least partly return the favor by displaying financial contributions to representatives' campaigns. It's not the whole picture, but it's an important part of it.</p>
            </div>
          </a>
          
          <!--Section 2-->
          <a href="#">
            <div class="col-sm-4 text-center home-box">
              <i class="fa fa-clock-o fa-5x"></i>
              <h3>Accountability</h3>
              <p>In modern American politics it is not uncommon for a government representatives to say something one week, only to directly contradict themselves the next. We've heard it so many times we're no longer surprised. To counter this collective political amnesia, we'll show you what they said, when, and if they followed through on their words.</p>
            </div>
          </a>
          
          <!--Section 3-->
          <a href="#">
            <div class="col-sm-4 text-center home-box">
              <i class="fa fa-bullhorn fa-5x"></i>
              <h3>Activism</h3>
              <p>For the vast majority of Americans, politics are far-removed from the realm of every day experience. With backsliding and doublespeak common features of modern politics, its easy to become disaffected by the political status quo. Our goal is to remedy this apathy by providing relevant, easily digestable information regarding the members of our country's government.</p>
            </div>
          </a>
          
        </div>
      </div>
    </section>
    
    
    <!--Content Section-->
    <section id="content">
      <div class="container">
        <div class="row margin-50">
          <div class="col-md-12 text-center">
              <ul class="list-inline home-icons">
                <li><a href="#"><i class="fa fa-rocket fa-4x blue"></i></a></li>
                <li><a href="#"><i class="fa fa-heart fa-4x blue"></i></a></li>
                <li><a href="#"><i class="fa fa-truck fa-4x blue"></i></a></li>
                <li><a href="#"><i class="fa fa-cogs fa-4x blue"></i></a></li>
                <li><a href="#"><i class="fa fa-lock fa-4x blue"></i></a></li>
                <li><a href="#"><i class="fa fa-check fa-4x blue"></i></a></li>
              </ul>
          </div>
        </div>
        
        <div class="row margin-30">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="dark-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
          </div>
        </div>
        
        <div class="row margin-30">
          <div class="col-md-6">
            <p class="gray">Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br />          
          </div>
          
          <div class="col-md-6">
            <p class="gray">Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br />          
          </div>
        </div><!--End Row-->
        
        <div class="row">
          <div class="col-md-12 text-center">
            <a class="btn-main" href="#">Contact Us</a>       
          </div>
        </div><!--End Row-->
        
      </div>
    </section> 
    
    
    <!--Message-->
    <section id="message">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
            <h4 class="gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
          </div>
        </div>
      </div>
    </section>
    
    <!--Bottom Section-->
    <section id="bottom">
      <div class="container">
        <div class="row margin-40">
          <div class="col-md-10 col-md-offset-1 text-center">
            <p>220 South 500 West, Suite 220. City, Salt Lake City, UT 84101.  <a href="mailto:info@handthatfeeds.com"><i class="fa fa-envelope-o"></i> info@handthatfeeds.com</a></p>
            <hr>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
            <!--Social Icons-->          
            <ul class="social-icons">
              <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
              <li><a class="facebook" href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
              <li><a class="google" href="http://www.googleplus.com" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>
              <li><a class="Github" href="http://www.github.com" target="_blank"><i class="fa fa-github-alt fa-3x"></i></a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </section>
    
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>@ Copyright Hand That Feeds. All Rights Reserved. </a></p>
          </div>
        </div>
      </div>
    </section>
      
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    
    <!--BxSlider - Animation options (horizontal, vertical, or fade) For full list of options check out www.bxslider.com -->
    <script>
    $(document).ready(function(){
            $('.bxslider').bxSlider({
              mode: 'fade',
              auto: true,
              pause: 4000,
              autoHover: false,
              touchEnabled: true,
              adaptiveHeight: false,
              autoControls: false
            }); 
    });    
    </script>
   