<h1>User Profile</h1>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% @user.legislators.each do |legislator| %>
  <p><%= legislator.title + ' ' + legislator.first_name + ' ' + legislator.last_name %></p>
<% end %>




