<h1>User Profile</h1>

<p>
  <b>Username:</b>
  <%= @users.username %>
</p>

<p>
  <b>Email:</b>
  <%= @users.email %>
</p>

<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', users_path %>



