<html>
  <head>
    <title><%= headers[:subject] %></title>
  </head>
  <body>
    <h1>New contact message!</h1>
    <ul>
      <li>From: <%= @message.name %></li>
      <li>Email: <%= @message.email %></li>
      <li>Body: <%= @message.body %></li>
    </ul> 
  </body>
</html>