<h1> <%= industry['@attributes']['industry_name'] %> </h1>
<p> Individual: <%= industry['@attributes']['indivs'] %> Pacs: <%= industry['@attributes']['pacs'] %> Total: <%= industry['@attributes']['total'] %> </p>