.well.row.money
  / Picture, Name, Title, Party, State
  .col-sm-4.col-lg-3
    img src="http://theunitedstates.io/images/congress/225x275/#{legislator.bioguide_id}.jpg" 
    h3
      = legislator.title + '. ' + legislator.first_name + ' ' + legislator.last_name
    h4
      = legislator.chamber.capitalize + ' | ' + legislator.state_name + ' ' + legislator.party
  / Address, Phone, Facebook, Twitter, Mail, Website

  .col-sm-4.col-lg-6
    .row.address
      h3
        i.fa.fa-building-o
        = ' ' + legislator.office
        br Washington, D.C. 20510
    .row.phone
      h3
        i.fa.fa-phone
        = ' ' + legislator.phone
    .row.social
      a href="http://facebook.com/#{legislator.facebook_id}" target="_blank" 
        i.fa.fa-facebook-square.fa-3x
      a href="http://twitter.com/#{legislator.twitter_id}" target="_blank" 
        i.fa.fa-twitter-square.fa-3x
      a href=legislator.contact_form target="_blank" 
        i.fa.fa-envelope.fa-3x
      a href=legislator.website target="_blank" 
        i.fa.fa-globe.fa-3x
  / Mouth, Money

  .col-sm-4.col-lg-3
    / h1
      / a href="#" 
        / i.fa.fa-bullhorn Mouth
    h1
      a href=legislator_path(legislator.crp_id)
        i.fa.fa-money Money
