<h1> Top Sectors: </h2>
<h2> <%= sector['@attributes']['sector_name'] + ' ' + sector['@attributes']['sectorid']%> </h2>
<p> Individual: <%= sector['@attributes']['indivs'] %> Pacs: <%= sector['@attributes']['pacs'] %> Total: <%= sector['@attributes']['total'] %> </p>