<h1> Top Industries: </h1>
<h2> <%= industry['@attributes']['industry_name'] %> </h2>
<p> Individual: <%= industry['@attributes']['indivs'] %> Pacs: <%= industry['@attributes']['pacs'] %> Total: <%= industry['@attributes']['total'] %> </p>