<h1>Legislators#show</h1>
<p>Find me in app/views/legislators/show.html.erb</p>

<!-- Stuff that Carlos showed us

<script type="text/javascript">
$(document).ready(function(){
  $.ajax("<%= static_pages_basic_call_path %>",{
    data: { 'state': $("#state").val() },
    success: function(return_data){
      // alert('its back!')
      console.debug(return_data);
      $("#results_div").html(return_data.test);
    },
    dataType: 'json'
  });
});

</script>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= link_to "Ajax Call", static_pages_basic_call_path, remote: true %><br/>
<%= link_to "Ajax Call 2", "#" %><br/>

State: <input type="text" id="state"/>
<div id="results_div">Nothing Here</div>

-->
