<h1>Money</h1>

<div class='row'>
  <div class='col-lg-6'>

    <div id='hart'></div>
    <%= render_chart(@hart, 'hart') %>


  </div> 
</div>
<div class="row">
  <div class='col-lg-6'>

    <div id='chart'></div>
    <%= render_chart(@chart, 'chart') %>

  </div>     
</div>