<h1>Money</h1>

<div class='row'>
  <div class='col-lg-6'>

    <h1> Top Industries: </h1>  
    <% @industries.each do |individual_industry| %>
     <%= render '/legislators/show_industry', industry: individual_industry %>
    <% end %>
  </div> 


    <div id='hart'></div>
    <%= render_chart(@hart, 'hart') %>


  </div> 
</div>
<div class="row">
  <div class='col-lg-6'>

    <h1> Top Organizations: </h1>
    <% @organizations.each do |individual_organization| %>
     <%= render '/legislators/show_organization', organization: individual_organization %>
    <% end %>


    <div id='chart'></div>
    <%= render_chart(@chart, 'chart') %>


  </div>     
</div>