<h1>Your Legislators</h1>
<h2>Senators</h2>
<%= render '/legislators/show_legislator', legislator: @senior_senator %>
<%= render '/legislators/show_legislator', legislator: @junior_senator%>
<h2>Representative</h2>
<%= render '/legislators/show_legislator', legislator: @representative %>
