// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#static_pages_home{
  padding-top: 0 !important;

  .container{
    width:100%;
    padding: 0;
    img{
      text-align: center;
    }
  }
}

#static_pages_about{

}